<div class="ui top fixed labeled icon  menu">
  <a class="item" [routerLink]="[ '/people' ]" routerLinkActive="active">
    <i class="user icon"></i>People
  </a>
  <a class="item" [routerLink]="[ '/planets' ]" routerLinkActive="active">
    <i class="circle icon"></i>Planet
  </a>
  <a class="item" [routerLink]="[ '/films' ]" routerLinkActive="active">
    <i class="play icon"></i>Films
  </a>
  <a class="item" [routerLink]="[ '/species' ]" routerLinkActive="active">
    <i class="mercury icon"></i>Species
  </a>
  <a class="item" [routerLink]="[ '/vehicles' ]" routerLinkActive="active">
    <i class="rocket icon"></i>Vehicles
  </a>
  <a class="item" [routerLink]="[ '/starships' ]" routerLinkActive="active">
    <i class="space shuttle icon"></i>Starships
  </a>
</div>