<div class="ui secondary  menu">
  <a class="item active" [routerLink]="[ '/' ]" routerLinkActive="active">People</a>
  <a class="item" [routerLink]="[ '/planet' ]" routerLinkActive="active">Planet</a>
  <a class="item" [routerLink]="[ '/films' ]" routerLinkActive="active">Films</a>
  <a class="item" [routerLink]="[ '/species' ]" routerLinkActive="active">Species</a>
  <a class="item" [routerLink]="[ '/vihicles' ]" routerLinkActive="active">Vihicles</a>
  <a class="item" [routerLink]="[ '/starships' ]" routerLinkActive="active">Starships</a>
</div>