<div class="ui secondary  menu">
  <a class="item" [routerLink]="[ '/people' ]" routerLinkActive="active">People</a>
  <a class="item" [routerLink]="[ '/planets' ]" routerLinkActive="active">Planet</a>
  <a class="item" [routerLink]="[ '/films' ]" routerLinkActive="active">Films</a>
  <a class="item" [routerLink]="[ '/species' ]" routerLinkActive="active">Species</a>
  <a class="item" [routerLink]="[ '/vehicles' ]" routerLinkActive="active">Vehicles</a>
  <a class="item" [routerLink]="[ '/starships' ]" routerLinkActive="active">Starships</a>
</div>